// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
    margin: 0;
    padding: 0;
}

body {
    padding-bottom: 30px;
    font: 13px/20px Arial, Helvetica, sans-serif;
    text-align: center;
    color: #FDE0B8;
    background: #564937;
}

h1 {
    width: 560px;
    font-weight: normal;
    font-size: 36px;
    line-height: 60px;
    text-transform: uppercase;
    color: White;
}

h1 a, h1 a:hover {
    font-weight: normal;
    text-decoration: none;
    color: White;
}

p {
    padding: 8px 0;
    text-align: justify;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #5891A7;
}

a:hover {
    text-decoration: underline;
}

#main {
    position: relative;
    margin: 0 auto;
    width: 900px;
    text-align: left;
    background: asset-url("main.gif", image) repeat-y right;
}

#header {
    padding-left: 40px;
    height: 60px;
}

#search {
    position: absolute;
    top: 15px;
    right: 30px;
    width: 250px;
    height: 30px;
}

#search form {
}

#search input.text {
    float: left;
    display: block;
    padding: 3px;
    width: 160px;
    font-size: 13px;
    color: #3C3429;
    background: #E9D8C9;
    border: 1px solid #F9F5F2;
}

#search input.submit {
    float: right;
    display: block;
    padding: 4px 0;
    width: 70px;
    font-size: 11px;
    text-transform: uppercase;
    color: White;
    background: #554836;
    border: 1px solid #7C6244;
}

#menu {
    padding-left: 600px;
    height: 200px;
    background: asset-url("image.jpg", image) no-repeat;
}

#menu2 {
    padding: 0 30px 0 20px;
    height: 450px;
    background: asset-url("menu.jpg", image) no-repeat bottom left;
}

#menu ul {
    position: absolute;
    top: 148px;
    left: 620px;
    list-style: none;
    border-top: 1px solid #343434;
}

#menu ul li {
    width: 250px;
}

#menu ul li a {
    display: block;
    height: 40px;
    padding-left: 20px;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    color: #E2C092;
    border-bottom: 1px solid #343434;
}

#menu ul li a:hover, #menu ul li a.active {
    text-decoration: none;
    color: White;
    background: #A3371A;
}

#middle {
    background: asset-url("middle.gif", image) repeat-y;
}

#middle2 {
    height: 1%;
    background: asset-url("middle.jpg", image) no-repeat bottom right;
    min-height: 400px;
}

#left {
    float: left;
    padding: 0 40px 20px 40px;
    width: 520px;
    background: asset-url('left.jpg', image) no-repeat top right;
}

#left h2 {
    padding-top: 10px;
    font-weight: normal;
    font-size: 26px;
    line-height: 70px;
    color: #E0BE91;
}

#left .box {
    padding-bottom: 25px;
}

#sidebar {
    padding: 0 50px 20px 40px;
    float: right;
    width: 210px;
    background: asset-url('sidebar.jpg', image) no-repeat;
}

#sidebar p {
    padding: 0 0 50px 0;
    line-height: 18px;
    text-align: left;
}

#sidebar p a {
    color: #FF461C;
}

.clearing {
    clear: both;
    height: 1px;
    overflow: hidden;
}

#footer {
    clear: both;
    padding: 0 40px;
    height: 28px;
    background: asset-url('footer.gif', image) no-repeat top;
}

#footer p {
    padding: 4px 0 0 0;
    line-height: 24px;
    color: White;
}

th
{
  padding-left: 10px;
  padding-right: 10px;
}
