			<div id="footer">
				<div id="footerSidebar">
					<h3><%= t 'informacion_contacto' %></h3>
					<ul class="contactinfo">
						<li>+54 11 43 33 22 11</li>
						<li>
							<a href="mailto:someone@domainname.tld">contacto@altaagenda ?</a>
						</li>
						<li>1234 Street Name
							<br />
							Buenos Aires
							<br />
							Argentina
							<br />
						</li>
					</ul>
				</div>
				<div id="footerContent">
					<h3><%= t 'disclaimer' %></h3>
					<p>
						El contenido publicado en Alta Agenda bla bla bla
					</p>
				</div>
				<br class="clear" />
			</div>
