
	<div id="footer">
		<p>
			Copyright © Sweet Vibrations, 
			designed by <a href="http://www.alphastudio.pl" target="_blank">Alpha Studio</a>
			<!--%@##--> Design provided by 
			<a href="http://www.freewebtemplates.com">Free Website Templates</a>.<!--##@%-->
		</p>
	</div>
