
	<div id="sidebar">

		<h3><%= t('datos_usuario') %></h3>
		
		<div class="form">
			<p>
				<label for="email" class="login"><%= t 'email' %></label>
				<%= usuario_logueado %>
			</p>
		</div>
					<!--
					<h3>Feugiat volutpat</h3>
					<p>
						Posuere sed gravida donec fringilla. Condimentum nec venenatis in vestibulum enim imperdiet.
					</p>
					<ul class="linkedList">
						<li class="first">
							<a href="#">Etiam auctor nisi</a>
						</li>
						<li>
							<a href="#">Lobortis lectus iaculis luctus</a>
						</li>
						<li>
							<a href="#">Erat sagittis mattis</a>
						</li>
						<li>
							<a href="#">Vitae scelerisque suscipit</a>
						</li>
						<li class="last">
							<a href="#">Amet congue tempus curabitur</a>
						</li>
					</ul>
					-->
				</div>